.container{
    align-items: center;
}


.menu{
    height: 70px;
    width: 100%;
    background-color: #20e7ee;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 10;
}


.header{
    height: 450px;
    background-color: #e778de;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#logo{
    height: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/*
.portfolio{
    height: 600px;
    background-color: #8099eb;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.justify-content-around{
display: flex;
justify-content: space-around;
}


.align-items-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

/* Style the Image Used to Trigger the Modal */
.portfolio {
    border-radius: 50%;
    margin-bottom: -15px; }
    .portfolio .portfolio-item {
      position: relative;
      display: block;
      max-width: 25rem;
      margin-bottom: 15px; }
      .portfolio .portfolio-item .portfolio-item-caption {
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background-color: rgba(24, 188, 156, 0.9); }
        .portfolio .portfolio-item .portfolio-item-caption:hover {
          opacity: 1; }
        .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
          font-size: 1.5rem; }
    @media (min-width: 576px) {
      .portfolio {
        margin-bottom: -30px; }
        .portfolio .portfolio-item {
          margin-bottom: 30px; } }
  
  .portfolio-modal .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5); }
    .portfolio-modal .portfolio-modal-dialog .close-button {
      position: absolute;
      top: 2rem;
      right: 2rem; }
      .portfolio-modal .portfolio-modal-dialog .close-button i {
        line-height: 38px; }
    .portfolio-modal .portfolio-modal-dialog h2 {
      font-size: 2rem; }
  
  @media (min-width: 768px) {
    .portfolio-modal .portfolio-modal-dialog {
      min-height: 100vh;
      padding: 5rem;
      margin: 3rem calc(3rem - 8px); }
      .portfolio-modal .portfolio-modal-dialog h2 {
        font-size: 3rem; } }


.container{
    max-width: 700px;
}

.img{
    height: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.img:hover {
    opacity: 0.3;
}


h1{
    font-size: 45px; // /* Doesnt work, dif in inspect*/
}

h1, h2, p {
   text-align: center;
   font-family: Montserrat;
}

.link a:hover{
    color: #e778de;
    text-decoration: none;
}



.about{
    height: 400px;
    background-color: #20e7ee;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.contact{
    height: 400px;
    background-color: #e778de;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer{
    height: 100px;
    background-color: #8099eb;
}

#redesdiv{
    display: flex; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}