.container{
    align-items: center;
}

.menu{
    height: 80px;
    background-color: #20e7ee;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.header{
    height: 600px;
    background-color: #e778de;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.portfolio{
    height: 700px;
    background-color: #8099eb;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.justify-content-around{
display: flex;
justify-content: space-around;
}

.align-items-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 700px;
}
.img{
    height: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   margin-top: 20px;
}


h1{
    font-size: 45px; // /* Doesnt work, dif in inspect*/
}

h1, h2, p {
   text-align: center;
   font-family: Montserrat;
}

.link a:hover{
    color: #e778de;
}



.about{
    height: 400px;
    background-color: #20e7ee;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
