.container{
    align-items: center;
}


.menu{
    height: 80px;
    background-color: #20e7ee;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.header{
    height: 600px;
    background-color: #e778de;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.portfolio{
    height: 600px;
    background-color: #8099eb;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.justify-content-around{
display: flex;
justify-content: space-around;
}

.align-items-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 700px;
}

.img{
    height: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


h1{
    font-size: 45px; // /* Doesnt work, dif in inspect*/
}

h1, h2, p {
   text-align: center;
   font-family: Montserrat;
}

.link a:hover{
    color: #e778de;
    text-decoration: none;
}



.about{
    height: 400px;
    background-color: #20e7ee;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact{
    height: 300px;
    background-color: #e778de;
    background-image: assets/funpeople.gif;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ESTILOS FORMULARIO CHECKEAR*/

.contenedor{
	width: 400px;
	margin: 0 auto;
}

.formulario .contenedor-inputs{
	padding:20px;
	background: #fff;
	border-radius: 8px 8px 0 0;
}

.formulario input[type="text"],
.formulario input[type="email"], 
.formulario input[type="message"]{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 10px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus{
	border-bottom: 2px solid #488acc;
}

.formulario input[type="radio"]{
	display: none;
}

.formulario .genero{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.formulario .genero .hombre{
	border-radius: 3px, 0, 0, 3px;
}
.formulario .genero .mujer{
	border-radius: 0, 3px, 3px, 0;
}


.formulario .label-radio{
	background: rgba(226, 113, 221, 0.4);
	color: rgb(255, 255, 255);
	padding: 10px;
	text-align: center;
	width: 49.5%;
}

.formulario input[type="radio"]:checked + .label-radio{
	background: #ec79e3;
}

.formulario .terminos{
	text-align: center;
	color:#424242;
}

.formulario .terminos label{
	margin-left: 10px;
}

.formulario .error{
	display: none;
	margin-top: 20px;
	border-radius: 3px;
	background: #110410;
	color:#fff;
	padding: 15px 10px;
	padding-left: 40px;

}

.formulario .btn{
	width: 100%;
	text-align: center;
	background:#e19aeb;
	color:#fff;
	border: none;
	display: block;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 18px;
}

.formulario .btn:hover{
	background: #ec53c6;
}